NODE_ENV=development
RABBITMQ_URL=amqp://app:app@localhost:5672
REDIS_URL=redis://localhost:6379

QUEUE_RAW_EVENT=source.raw.v1
SCRAPE_SCHEDULE=*/20 * * * *
USE_PLAYWRIGHT=false
SHARED_CONTRACTS_DIR=../shared-contracts

S3_ENDPOINT=http://localhost:9000
S3_REGION=ru-central-1
S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio123
S3_BUCKET=scraper-artifacts
